html {
    font-size: 14px;
}

body {
    background: $faint-grey;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 51px;
}
.hidden {
    display: none;
}

/* h styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 15px 0;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4, h5 {
    font-size: 12px;
}

a {
    color: $traackr-teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: $traackr-teal;
    cursor: pointer;
}
a.influencer-name {
    color: $traackr-red;
    &:hover {
        color: $traackr-red;
    }
}
h1 a, h2 a, h3 a {
    color: $traackr-red;
    &:hover {
        color: $traackr-red;
    }
}

a.influencer-name, .influencer-name {
    color: $traackr-red;
    &:hover {
        color: $traackr-red;
    }
}

.noscroll { /* used for overlays on the body when you don't want the body to scroll :) */
    overflow: hidden;
}

.numbered-list {
    list-style: decimal;
    margin-left: 15px;
    li {
        padding-bottom: 5px;
    }
}

/* Button */
.medium-circle-icon, button, .btn, input[type="button"] {
    display: inline-block;
    padding: 6px 9px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    width: auto;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    background: transparent;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    .ss-icon {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 1px;
        line-height: 1;
    }
    &:hover {
        border: 1px solid $traackr-red;
        color: $traackr-red;
        text-decoration: none;
    }
    &.disabled, &.disabled:hover {
        border: 1px solid #c8c8c8;
        color: #c8c8c8;
        cursor: default;
    }
    &.fake-disabled, &.fake-disabled:hover {
        border: 1px solid #333;
        color: #333;
        cursor: default;
        &.inline-btn {
            border: 0;
        }
    }
    a:link, a:visited, a:active, a:hover {
        text-decoration: none;
        color: #333;
        transition: 0.08s ease-in;
        -o-transition: 0.08s ease-in;
        -ms-transition: 0.08s ease-in;
        -moz-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
    }
    &:hover {
        a:link, a:visited, a:active, a:hover {
            color: $traackr-red;
        }
    }
    /* Primary Button */
    &.primary-btn {
        background: $traackr-red;
        color: #fff;
        border: 1px solid $traackr-red;
        a:link, a:visited, a:active, a:hover {
            color: #fff;
        }
        &:hover {
            background: $traackr-dark-red;
            color: #fff;
            border: 1px solid $traackr-dark-red;
        }
        &.disabled, &.disabled:hover, &[disabled] {
            opacity: 0.7;
            cursor: default;
            background: $traackr-red;
            border: 1px solid $traackr-red;
            color: #fff;
        }
        &.fake-disabled, &.fake-disabled:hover {
            color: #fff;
            background: $traackr-red;
            border: 1px solid $traackr-red;
            &.inline-btn {
                border: 0;
            }
        }
    }
    /* Light Button */
    &.light-btn {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        a:link, a:visited, a:active, a:hover {
            color: #fff;
        }
        &:hover {
            background: #fff;
            color: $traackr-red;
            border: 1px solid #fff;
        }
        &.disabled, &.disabled:hover {
            opacity: 0.7;
            cursor: default;
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }
        &.fake-disabled, &.fake-disabled:hover {
            color: #fff;
            background: transparent;
            border: 1px solid #fff;
            &.inline-btn {
                border: 0;
            }
        }
    }
    /* Inline button aka no border */
    &.inline-btn, &.inline-btn:hover {
        border: 1px solid transparent;
        background: transparent;
    }
    /* Tiny button - extremely small */
    &.tiny-btn, &.tiny-btn:hover {
        padding: 2px 3px 1px;
        font-size: 7px;
    }
}

.medium-circle-icon:hover {
    border: 1px solid $traackr-red;
    color: $traackr-red;
}

.small-icon {
    font-size: 12px;
}

.tiny-icon {
    font-size: 10px;
}

.btn-text {
    margin-left: 8px;
}

/* Expand button */
.expand-btn {
    max-width: 34px;
    transition: max-width 0.5s ease;
    -o-transition: max-width 0.5s ease;
    -ms-transition: max-width 0.5s ease;
    -moz-transition: max-width 0.5s ease;
    -webkit-transition: max-width 0.5s ease;
    -webkit-transition: max-width 0.5s ease;
    overflow: hidden;
}

.expand-btn:hover {
    max-width: 999px;
}

/* Combo button */
.btn-combo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.btn-combo > .btn {
    float: left;
}

.btn-combo > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.btn-combo > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-combo > .btn:not(:last-child):not(:first-child) {
    border-radius: 0;
    border-right: 0;
}

.btn-combo > .primary-btn:first-child:not(:last-child), .btn-combo > .primary-btn:not(:last-child):not(:first-child), .btn-combo > .primary-alt-btn:first-child:not(:last-child), .btn-combo > .primary-alt-btn:not(:last-child):not(:first-child) {
    border-right: 1px solid #fff;
}

/* rotate the sort icon */
.sort-action {
    .medium-circle-icon, .btn, button, input[type="button"] {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 240px;
    padding: 0;
    margin: 5px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #e8e8e8;
    border-top: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    /* If you want your dropdown to swing to the left instead of right */
    &.swing-left {
        left: auto;
        right: 0;
    }
}

.dropdown-menu > li > a, .dropdown-menu > li > label {
    display: block;
    padding: 10px;
    clear: both;
    color: #333;
    white-space: nowrap;
    border-top: 1px solid #e8e8e8;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active, .dropdown-menu > li > label:hover {
    color: #fff;
    background: $traackr-red;
    text-decoration: none;
}

.dropdown-menu > li > a.divider {
    border-top: 1px solid #c8c8c8;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu .helptext {
    padding: 10px;
    display: block;
}

.helptext {
    color: #999;
    font-size: 12px;
}

.dark {
    color: #333;
}

.influencer-filter-panel {
    ul.dropcheck {
        position: relative;
    }
}

/* qtip */
/* Default qtip styles */
.qtip {
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    max-width: 280px;
    min-width: 50px;
    font-size: 10.5px;
    line-height: 12px;
    direction: ltr;
    box-shadow: none;
    padding: 0;
}

.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
    position: absolute;
    color: #123456;
    background: 0 0;
    border: 0 dashed transparent;
}

.qtip .qtip-tip {
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}

.qtip-default .qtip-titlebar, .qtip-titlebar {
    padding: 7px 9px;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    font-weight: normal;
    font-size: 16px;
}

.qtip-content {
    padding: 5px 9px;
    text-align: left;
    word-wrap: break-word;
}

.qtip-content, .qtip-titlebar {
    position: relative;
    overflow: hidden;
}

/* Our styles */
.qtip {
    border: 1px solid #c8c8c8;
    background: #fff;
    color: #333;
    font-size: 13px;
    word-wrap: break-word;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    line-height: 17px;
    h2, h3, h4, h5, h6 {
        padding-top: 5px;
        margin-top: 0;
    }
}

/* tables */
.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table.bordered {
    border: 1px solid #e8e8e8;
}
.table tr {
    border-bottom: 1px solid #e8e8e8;
}
.table td, .table th {
    padding: 15px;
    text-align: left;
}
.table th {
    font-weight: bold;
}
.table tbody tr:last-child {
    border-bottom: 0;
}

/* forms */
fieldset {
    padding: 0 0 15px;
    border: 0;
    margin: 0;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
    border: 1px solid #c8c8c8;
    background: white;
    margin: 0;
    padding: 7px 9px;
    font-family: inherit;
    line-height: 1.28571428571;
    font-size: 14px;
    color: #444444;
    border-radius: 0px;
    width: 100%;
}

input:hover, textarea:hover {
    border: 1px solid #999;
}

input.error-input {
    border: 1px solid #ff0000;
}

input[disabled] {
    background: #e8e8e8;
}

input[disabled]:hover {
    border: 1px solid #c8c8c8;
}

.input-icon-container {
    position: relative;
}

.input-icon-container input {
    padding-left: 35px;
}

.input-icon-container .input-icon {
    position: absolute;
    top: 50%;
    left: 11px;
    line-height: 1;
    margin-top: -7px;
    width: auto;
}

.form-row .input-label, .form-row .label, .form-row > label {
    width: 25%;
    float: left;
    display: inline-block;
    padding: 7px 0; /* 7 + 7 = 14 which rounded up is our standard padding */
}
.form-row .form-row {
    padding-bottom: 5px;
}
.form-content {
    width: 75%;
    float: left;
}
.form-content label {
    display: inline-block;
    width: auto;
    max-width: initial;
    float: none;
    margin-top: 2px;
    padding: 0;
}
.form-content-static {
    margin: 7px 0; /* 7 + 7 = 14 which rounded up is our standard padding */
}

.form-row {
    padding-bottom: 15px;
    clear: both;
    overflow: hidden;
}

.form-row input[type="checkbox"], .form-row input[type="radio"] {
    float: left;
}

.help-text {
    font-size: 11px;
    color: #999;
}

.submit-btn-group {
    text-align: right;
}

input.inline-input {
    width: auto;
}

.input-group > * {
    float: left;
}

.input-group {
    .btn, button, .medium-circle-icon, input[type="button"] {
        border-radius: 0 2px 2px 0;
    }
}

/* select2 */
.select2-container .select2-choice {
    background-color: #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid $medium-grey;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 9px;
    color: #333;
    text-decoration: none;
    div {
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: none;
        filter: none;
        border-left: none;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 18px;
    }
    b {
        background-image: url(../images/select2/select2x2.png);
        background-repeat: no-repeat;
        background-size: 60px 41px;
        background-position: 0 0;
        height: 18px;
        width: 20px;
        display: block;
    }
}
.select2-offscreen {
    position: absolute;
    left: -10000px;
}
.select2-drop {
    position: absolute;
    background: #fff;
    min-width: 240px;
    ul {
        border: 1px solid $light-grey;
        li {
            padding: 10px;
            border-bottom: 1px solid $light-grey;
            &:last-child {
                border: 0;
            }
        }
    }
}
.select2-highlighted {
    background: $traackr-red;
    color: #fff;
}
.select2-search-hidden {
    display: block;
    position: absolute;
    left: -10000px;
}
.select2-with-icon {
    .input-icon {
        z-index: 1;
    }
    .select2-choice {
        padding-left: 35px;
    }
}
.select2-inline {
    max-width: 200px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .select2-search input, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
        margin-top: 3px;
    }
}

/* Magnets */
.magnet, .search-term {
    padding: 6px 9px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px #c8c8c8 solid;
    cursor: pointer;
    display: inline-block;
    line-height: 1.42857143;
    &:hover {
        border: 1px solid $traackr-red;
        color: $traackr-red;
        .close-magnet {
            color: $traackr-red;
        }
        &.readonly {
            border: 1px solid #c8c8c8;
            cursor: default;
        }
    }
    &.pausable-magnet:hover {
        color: $traackr-red;
        .close-magnet {
            color: #c8c8c8;
            &:hover {
                color: $traackr-red;
            }
        }
        &.readonly {
            color: #333;
        }
    }
    &.disabled {
        color: #c8c8c8;
        &:hover {
            cursor: default;
        }
        border: 1px solid $faint-grey;
    }
    .close-magnet {
        font-size: 10px;
        display: inline-block;
        color: #999;
        background-color: transparent;
        height: 15px;
        width: 15px;
        padding: 1px 0 0 5px;
    }
}

.magnet .magnet-icon, .search-term .magnet-icon {
    font-size: 11px;
    padding-right: 3px;
}

/* Headers and layout */
.clearfix:after, .btn-combo:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* reset ul styles */
.btn-group, .icon-list, .pagination ul, .magnets, .influencers, .scores, .inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list, .inline-list li {
    display: inline-block;
}

section {
    margin-top: 15px;
}

.block {
    background: #fff;
    box-shadow: 0px 1px 2px $medium-grey;
    margin-bottom: 15px;
    &.inline-block {
        margin-bottom: 0;
    }
}

.block-header, .block-footer {
    padding: 0 15px;
    border: 0;
    @extend .clearfix;
}

.block-header > h2, .block-header > h5 {
    float: left;
}

.block-header-subtitle h2 {
    padding: 8px 0 0;
}

.block-header > h4 {
    clear: left;
    color: #999;
    float: left;
    padding: 0 0 9px;
    margin-top: -3px;
}

.block-header > h5 {
    float: left;
    color: #999;
    line-height: 2.2;
    padding: 15px 15px 0;
}

.block-header .btn-group {
    padding: 8px 0;
    float: right;
}

.block-header {
    .collapsible-icon {
        float: right;
        font-size: 10px;
        margin-top: 5px;
    }
}
.collapsible-trigger {
    cursor: pointer;
    &:hover {
        color: $traackr-red;
    }
    .help-text {
        padding-left: 15px;
    }
    h2 {
        display: block;
        width: 100%;
        text-align: left;
    }
    &.disabled {
        opacity: 0.4;
        cursor: default;
        .help-text {
            color: #333;
        }
        &:hover {
            color: #000;
        }
    }
}

.block-content, .block-footer {
    border-top: 1px solid #e8e8e8;
    padding: 15px;
    width: 100%;
}

.block-content.inline, .block-footer.inline {
    padding: 0;
}

.block-header-subtitle .btn-group {
    padding: 8px 0 0;
}

.btn-group > li {
    display: inline-block;
    margin-right: 5px;
    &:last-child {
        margin-right: 0;
    }
}

/* tabs */
.block-tabs ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    box-shadow: -4px 0px 5px -4px #c8c8c8;
    border-bottom: 1px solid #e8e8e8;
}

.nav-item > a {
    display: block;
    padding: 12px 15px;
    border-top: 6px solid #fff;
    box-sizing: border-box;
    height: 45px;
    color: #333;
}

.nav-item > a:hover {
    text-decoration: none;
    color: $traackr-teal;
}

.nav-item > a.selected {
    border-top: 6px solid $traackr-teal;
}

li.nav-item {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    background: #fff;
}

.full-width.block-tabs ul, .block .block-tabs ul {
    box-shadow: none;
    display: block;
    border: 0;
}

.full-width li.nav-item {
    display: table-cell;
    width: 1%;
}

.block-tabs.inline li.nav-item {
    border-top: 0;
}

/* icon list */
.icon-list {
    font-size: 12px;
}
.icon-list > li {
    margin-bottom: 3px;
}
.icon-list .ss-icon {
    color: #c8c8c8;
    padding-right: 5px;
    position: relative;
    top: 2px;
}

.icon-list .unset {
    color: #c8c8c8;
}

.icon-list > li {
    line-height: 1.4;
    a.icon-link:hover .ss-icon {
        color: $traackr-teal;
    }
}
.icon-list > li a.icon-link.disabled:hover .ss-icon, .tags.disabled a.ss-icon:hover {
    color: #c8c8c8;
    cursor: default;
}

.icon-list > li a.icon-link:hover {
    text-decoration: none;
}

.icon-list.inline li {
    display: inline-block;
    margin-right: 5px;
}
.icon-list.icon-link-list li {
    cursor: pointer;
    &:hover {
        color: $traackr-teal;
    }
}

/* date */
.prev-range {
    padding-right: 5px;
}

.next-range {
    padding-left: 5px;
}

/* pagination */
.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    padding: 6px 9px;
    min-width: 34px;
}

/* TagIt */
ul.tagit {
    border-radius: 0px;
    list-style: none;
    margin: 0;
    border: 0;
    border: 1px solid #c8c8c8;
    padding: 3px 5px;
}

ul.tagit li.tagit-choice-editable {
    padding: 6px 22px 6px 12px;
    background: $traackr-red;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    border: 0;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

ul.tagit li.tagit-choice .tagit-close {
    padding-right: 6px;
    top: 45%;
}

ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: block;
    color: #fff;
}

/* loader */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background: rgba(255, 255, 255, 0.5);
}

.loader {
    height: 50px;
    position: relative;
    margin: 0 auto;
    width: 75px;
}

.loader-wrapper .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -42px;
}

.loader span {
    background: #333;
    display: inline-block;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    animation: loading 1s infinite alternate;
    -webkit-animation: loading 1s infinite alternate;
    -moz-animation: loading 1s infinite alternate;
    transform-origin: center bottom;
}

.loader .bar1 {
    background: #ffd7c6;
    left: 0;
}

.loader .bar2 {
    background: #feb394;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 15px;
}

.loader .bar3 {
    background: #fe8f61;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 30px;
}

.loader .bar4 {
    background: #fd6b2f;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 45px;
}

.loader .bar5 {
    background: #f74902;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
    left: 60px;
}
@keyframes loading {
    0% {
        height: 10px;
    }
    100% {
        height: 50px;
    }
}
@-moz-keyframes loading {
    0% {
        height: 10px;
    }
    100% {
        height: 50px;
    }
}
@-webkit-keyframes loading {
    0% {
        height: 10px;
    }
    100% {
        height: 50px;
    }
}

/* Influencer profiles */
.influencers {
    margin: 0 -5px;
}

.influencer {
    display: inline-block;
    padding: 0 5px 10px;
}

.influencer .grid-influencer-img {
    height: 224px;
    width: 216px;
}

.influencer .block {
    position: relative;
    outline: 4px solid transparent;
    cursor: pointer;
    margin-bottom: 0;
}

.influencer.selected .block {
    box-shadow: 0px 0px 0px 4px #48b9c7;
}

.influencer-large {
    width: 100%;
}
.influencer-avatar {
    height: 224px;
}

.avatar-info {
    float: left;
    position: relative;
    width: 216px;
    height: 224px;
}

.influencer-avatar-wrapper {
    width: 216px;
    overflow: hidden;
}
.brand-indicator {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    z-index: 1;
}
.avatar-info .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent, transparent);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent, transparent);
    background-image:         linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent, transparent);
}

.influencer:hover .overlay {
    display: block;
}

.select-influencer {
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 100%;
}

.influencer-buttons {
    position: absolute;
    top: 15px;
    left: 15px;
}

.influencer-buttons .btn, .influencer-buttons .dropdown {
    display: inline-block;
}

.influencer-info {
    width: calc(100% - 216px);
    float: right;
}

.influencer-header {
    padding: 8px 15px;
    border-bottom: 1px solid #e8e8e8;
}
.influencer-body {
    padding: 8px 15px;
}

.influencer-header h2 {
    padding: 0;
    float: left;
}
.influencer-header a.influencer-star {
    color: #e8e8e8;
    font-size: 14px;
    &:hover {
        text-decoration: none;
        color: #52bdc5;
    }
    &.influencer-star-on {
        color: #52bdc5;
    }
}

.score {
    display: inline-block;
    color: #f46240;
    font-size: 12px;
}
.score .ss-icon, .keyword-matches > .ss-icon {
    display: inline-block;
    margin: 0 3px 0;
    padding: 0;
    vertical-align: -1px;
}
.description {
    font-size: 12px;
    max-height: 32px;
    overflow: hidden;
}

.title {
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 500;
    max-height: 19px;
    overflow: hidden;
}

.influencer-channels {
    list-style: none;
    margin: 0;
    padding: 0;
}

.influencer .influencer-channels {
    padding: 8px 0 5px;
}

.influencer-small .influencer-channels {
    padding: 0;
}

.recommended {
    position: absolute;
    bottom: 10px;
}
.channel {
    display: inline-block;
    font-size: 16px;
    margin: 0 3px 0 0;
}

.channel a:hover {
    text-decoration: none;
}

.influencer-small .channel {
    font-size: 14px;
}

.meta-dropdown:focus {
    outline: 0;
}
.influencer:hover .meta-item-small {
    display: block;
}
.meta-item-small {
    font-size: 10px;
    color: #999;
    margin: 0;
    display: none;
}
.recommended-reason {
    display: block;
}
.influencer .influencer-buttons .dropdown {
    display: none;
}

.can-add .influencer:hover .add-dropdown, .can-add .influencer.added .add-dropdown {
    display: inline-block;
}

.influencer:hover .influencer-buttons .other-dropdown {
    display: inline-block;
}

.influencer:hover .expand-btn {
    max-width: 999px;
}
.influencer-header .influencer-more-info {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
/* Medium influencer grid card */
.influencer-medium {
    width: 50%;
    .influencer-header .influencer-name { // limit to 1 line
        width: 210px;
        height: 25px;
        overflow: hidden;
        display: block;
    }
    .title-and-description {
        max-height: 83px;
        overflow: hidden;
    }
}

/* Small influencer grid card */
$cardHeight: 310px;
$maxCardWidth: 226px;
$infNameHeight: 28px;
$infTitleHeight: 32px;
$unExpandedInfoHeight: 75px;
.influencer-small {
    width: 20%;
    height: $cardHeight;
    max-width: $maxCardWidth;
    .influencer-header {
        border: 0;
        clear: both;
        padding: 0;
        height: $infNameHeight;
        overflow: hidden;
        padding-left: 1px;
    }
    .influencer-body {
        padding: 0;
        height: $infTitleHeight;
        overflow: hidden;
        margin-bottom: 5px;
        padding-left: 1px;
    }
    .block {
        height: 100%;
    }
    .avatar-info {
        width: 100%;
    }
    .influencer-avatar-wrapper {
        width: 100%;
    }
    .title {
        font-size: 12px;
        max-height: 30px;
    }
}
.influencer-info-small {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    min-height: $unExpandedInfoHeight;
    max-height: $unExpandedInfoHeight;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
    padding: 7px;
    .influencer-more-info {
        padding: 3px 0;
        font-size: 12px;
    }
    .influencer-channels {
        padding: 0 2px;
    }
    .stage {
        overflow: hidden;
        height: 14px;
    }
    .scores {
        float: left;
        margin: 0px 10px 0 0;
    }
}

.influencer:hover .influencer-info-small {
    min-height: 0;
    max-height: 100%;
}

.influencer-header .scores {
    display: inline-block;
}

.influencer-header .stage {
    float: left;
    margin-right: 15px;
}

/* stage */
.stage-wrapper {
    font-size: 12px;
    .divider { display: none; }
    color: $traackr-red;
    padding: 0 10px 0 0;
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    margin-bottom: -3px;
    max-height: 15px;
}

/* Success add icon, adding success icon, and icons while loading */
.add-influencer .add-inf, .add-influencer.add .loading-success, .add-influencer .checkadd, .add-influencer.loading .add-inf, .add-influencer.loading .loading-success {
    display: none;
}

.add-influencer .loading-success, .add-influencer.add .add-inf, .add-influencer.loading .checkadd {
    display: inline-block;
}

.loading.disabled.light-btn:hover, .loading.disabled.light-btn:hover, .loading.disabled.light-btn:hover {
    background-color: #fff;
    opacity: 1;
}

/* Loading within a button */
.btn.loading.light-btn {
    opacity: 1;
    background: #fff;
    height: 34px;
    width: 34px;
}

.btn.loading span.loader {
    height: 4px;
    width: 4px;
    display: block;
    background-color: $traackr-red;
    -webkit-animation: loadbutton 1.8s infinite ease-in-out;
    animation: loadbutton 1.8s infinite ease-in-out;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    bottom: 15px;
    top: auto;
    position: absolute;
    left: 50%;
    margin-left: -2px;
}

.btn.loading span.loader::before {
    content: '';
    margin-top: 0;
    margin-left: -6px;
    display: block;
    width: 4px;
    background-color: $traackr-red;
    -webkit-animation: loadbutton 1.8s infinite ease-in-out;
    animation: loadbutton 1.8s infinite ease-in-out;
    -webkit-animation-delay: -0.08s;
    animation-delay: -0.08s;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    top: auto;
}

.btn.loading span.loader::after {
    content: '';
    margin-top: 0;
    margin-left: 6px;
    display: block;
    width: 4px;
    background-color: $traackr-red;
    -webkit-animation: loadbutton 1.8s infinite ease-in-out;
    animation: loadbutton 1.8s infinite ease-in-out;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    top: auto;
}

@-webkit-keyframes loadbutton {
    0%,
    100% {
        height: 9px;
    }
    50% {
        height: 0px;
    }
}

@keyframes loadbutton {
    0%,
    100% {
        height: 9px;
    }
    50% {
        height: 0px;
    }
}

/* Sliders */
.tkr-jquery-ui-slider-container {
    padding: 10px 4px 10px 0;
}
.ui-slider.ui-slider-horizontal {
    height: 6px;
    border: 1px solid #e8e8e8;
    position: relative;
}

.ui-slider-range {
    background: $traackr-red;
    height: 4px;
    position: absolute;
}

.ui-slider-range.ui-slider-range-max {
    right: 0;
}

.ui-slider-handle {
    background: #fff;
    top: -5px;
    margin-left: -2px;
    width: 7px;
    height: 15px;
    border-radius: 0;
    position: absolute;
    border: 1px solid #c8c8c8;
}

/* Filters */
.filters-panel {
    margin: 15px 0;
}

/* Avatars */
.image-icon {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-indent: -9999px;
    background: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.avatar.initials {
    background-color: $medium-grey;
    color: #fff;
    text-align: center;
    text-indent: 0;
    padding: 8px 0;
    font-weight: 200;
    font-size: 14px;

    &:hover {
        cursor: default;
    }
}
/* Posts */
.post {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $light-grey;
    display: table;
    width: 100%;
    &:last-of-type {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .post-avatar, .post-details {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px 0 5px;
        .avatar.initials, .image-icon {
            height: 48px;
            width: 48px;
            padding: 15px 0;
            font-size: 20px;
        }
    }
    .post-avatar {
        vertical-align: top;
        width: 60px;
    }
}
.post-header {
    font-size: 16px;
    padding-bottom: 5px;
    a.post-meta-link:link, a.post-meta-link:visited {
        color: #333;
    }
    a.post-meta-link:hover, a.post-meta-link:active {
        color: $traackr-teal;
    }
}
.post-content {
    line-height: 1.3;
    width: 75%;
}
.post-meta {
    font-size: 12px;
    float: right;
    a:link, a:visited {
        color: $medium-grey;
    }
    a:hover, a:active {
        color: $traackr-teal;
    }
    .post-icon {
        color: #333;
        font-size: 14px;
        margin: 0 0 0 10px;
        float: right;
    }
}
.post-actions {
    margin-top: 10px;
    font-size: 11px;
    &.can-edit {
        clear: both;
        padding: 0 10px 0 0;
        display: block;
        li {
            display: inline-block;
            margin-right: 5px;
            a:hover, a:active {
                text-decoration: none;
            }
        }
    }
}
.post-embed {
    padding-top: 15px;
    @extend .clearfix;
    .thumb {
        float: left;
        margin: 0 10px 0 0;
    }
    /* embedly */
    a {
        padding: 0 0 10px 0;
        font-size: 16px;
        display: block;
        overflow: hidden;
    }
    .provider {
        display: none;
    }
    .description {
        overflow: hidden;
    }
}

/* Data summary panel */
.data-summary-panel {
    @extend .clearfix;
    padding: 0 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.data-summary-section {
    min-width: 115px;
    white-space: nowrap;
    float: left;
    width: 33.3%;
    &.col_3 {
        width: 33.3%;
    }
    &.col_2 {
        width: 50%;
        text-align: center;
    }
}
.data-summary-inner {
    padding: 0 5px;
    max-width: 250px;
    margin: 0 auto;
}
.data-summary-icon {
    float: left;
    font-size: 36px;
    vertical-align: middle;
    padding: 15px 15px 0;
}
.data-summary-value {
    font-size: 36px;
}
.data-summary-label {
    font-size: 16px;
}

/* Metrics list */
.metrics-row {
    @extend .clearfix;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}
.metrics-avatar {
    float: left;
    margin-right: 15px;
    img {
        border-radius: 100%;
    }
}
.metrics-label {
    float: left;
    font-size: 14px;
    padding: 10px 0;
}
.metrics-sublabel {
    padding-top: 3px;
    font-size: 12px;
}
.metrics-value {
    float: right;
    font-size: 14px;
    padding: 10px 0;
}
.metrics-progress {
    clear: both;
    padding-top: 5px;
}
.metrics-progress-bar {
    height: 5px;
}

.plusmore-hidden {
    display: none;
}

.block .zero-state-widget {
    text-align: center;
    p {
        padding-top: 10px;
    }
    .ss-icon {
        font-size: 48px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 1280px) {
    .influencer-small {
        width: 25%;
    }
}

@media screen and (max-width: 900px) {
    .influencer-small {
        width: 33.3%;
    }
}
@media screen and (max-width: 700px) {
    .form-row {
        label {
            width: 100%;
            float: none;
        }
    }
    .form-content {
        width: 100%;
        float: none;
    }
    .block-header > h5 {

    }
    .table {
        thead, tbody, th, td, tr {
            display: block;
        }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border-bottom: 1px solid #e8e8e8;
        }
        td {
            border: none;
            border-bottom: 0;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            content: attr(data-th);
        }
    }

    /* Influencers */
    .influencer-medium {
        width: 100%;
    }
    .influencer-small {
        width: 50%;
    }
    .influencer-large {
        .icon-list li {
            display: inline;
            padding-right: 5px;
        }
    }
}

@media screen and (max-width: 500px) {
    .influencer-small {
        width: 100%;
    }
    .influencer-medium, .influencer-large {
        .block {
            padding: 10px 0 25px;
        }
        .avatar-info, .influencer-avatar-wrapper {
            float: none;
            width: 190px;
            height: 190px;
            margin: 0 auto;
        }
        .influencer-avatar-wrapper {
            overflow: hidden;
            height: 190px;
            width: 190px;
        }
        .influencer-info {
            width: 100%;
            float: none;
            clear: both;
        }
    }
}

.pill {
    background-color: #f46240;
    color: #fff;
    border-radius: 10%;
    padding: 1px 3px 1px 3px;
    overflow: visible;   
}