@import "reset";
@import "susy";
$susy: (
    columns: 16, // The number of columns in your grid
    gutters: 0 // The size of a gutter in relation to a single column
);
@import "colors";
@import "grid";
@import "basestyles";

/* Port these styles to basestyles */
.influencer-small .channel {
    padding: 5px 0;
}
.grid-header .btn-group {
    float: right;
}
.nav-item > a {
    padding: 8px 15px;
}

@import "content";
@import "dashboard";

